*{
    box-sizing: border-box;
    scroll-behavior: smooth; /* makes scrolling SMOOTH */
}
:root{
    --Color1: #2191FB;
    --Color2: #8CDEDC;
    --Color3: #B2ECE1;
    --Color4: #dd5575;
    --Color5: #841C26;
    --Debug1: #927493;
    --Debug2: #2bff00;
    --Debug3: #fffb00;
    --Debug4: #ea00ff;
    --TextColor1: #ffffff;
    --TextColor2: #EEAABA;
}
.ClearBoth{
    clear:both;
}
#Title{
    width:90%;
    margin:0 auto;
    padding:0;
    text-align: center;
}
.FloatRight{
    float:right;
}
/*designing the top part*/
nav{
    width:auto;
    background-image: url(images/Background\ image.png);
    background-size: 100%;
}
nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    clear:both;
}
nav ul li{
    display: inline;
    float: left;
}
.CreateWidth{
    width:80%;
    margin: 0 auto;
}


/* cosmetic nav bar */
.ImageLogo{
    float:left;
    margin: 0 0;
    width: 15%;
    margin-top: 1rem;
}
.RightOfImage{
    float:left;
    width: 80%;
    text-align: center;
    height:75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:3em;
    margin:0;
    padding:0;
    margin-left:35px;
    color:var(--Color4);
    -webkit-text-stroke:2px var(--Color5);
}
.RightOfImage p{
    margin: 0;
    padding: 0;
}
/* functional nav bar */
nav ul{
    margin-top: 15%;
}
nav ul li a{
    padding:14px 16px;
    display:block; /* forces the text to go in a block */
    color: white;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: var(--Color1);
    color:var(--Color4);
}
.active{
    background-color: var(--Color1);
}

#Index{
    background-color: var(--Color3);
}
#container{
    width: 75%;
    margin: 0 auto;
}
/* index\html */
#introduction{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    margin:0;
    padding:0;
    clear:both;
    margin-bottom:1%;
    color:var(--Color4);
}
#introduction img{
    float:left;
    margin:15px 15px;
}
#introduction p{
    padding-top:0;
    width: 70%;
    float:left;
    margin:25px 0;
    margin-left:3%;
}
.DescriptionOfBskBall{
    background-color:#fff;
    width:100%;
    text-align: center;
    clear:both;
    padding:2.5% 2.5%;
    border-radius: 25px;
    border:25px solid #6d6d6d;
    height:fit-content;
    height:30em;
}
.DescriptionOfBskBall p{
    margin:0 auto;
}
.DescriptionOfBskBall h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    margin:0.15em 0;
    padding:0;
    color:var(--Color4);
    -webkit-text-stroke:2px var(--Color5);
}
.DescriptionOfBskBall p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    color:var(--Color4);
    width:58.75%;
    padding:0;
    margin:0;
    margin-left: 1.25%;
    float:right;
    text-align: left;
}
#BasketballCourt{
    width:40%;
    height:100%;
    padding:0;
    margin:0;
    float:left;
    display:block;
}
#BasketballCourt img, #BasketballCourt h3{
    width:100%;
    padding:0;
    margin:0;
    float:left;
}
.button{
    background-color: var(--Color1);
    color:var(--TextColor1);
    padding:14px 16px;
    margin:0 15px;
    text-decoration: none;
    float:left;
    margin-left:3%;
}
.button:hover{
    background-color: var(--Color2 );
}
#coach{
    width:100%;
    margin:0;
    background-color: var(--Color2);
    border: 2px solid #fff;
    float:left;
}
#coach a{
    width:100%;
    text-decoration: none;
    color:var(--Color5);
}
#GoTOTOP{
    width:7.5%;
    margin-top: 2%;
    margin-right: 2.5%;
    float:left;
    background-color: var(--Color3);
    padding:3px 4px;
}
#GoTOTOP:hover{
    color:var(--Color4);
    background-color: var(--Color1);
}
.AddCaption{
    width:40%;
    height:100%;
    float:left;
    margin:auto 0;
    padding:0;
}
.AddCaption img{
    margin: 10% 0;
    padding:15px 15px;
    width: 80%;
    text-align: center;
    border-radius: 30px;
}
.AddCaption h3{
    margin-top:-5px;
    float:left;
    text-align: center;
    font-size:25px;
    width:80%;
}
#coach table{
    float:left;
    width:60%;
    margin: 15px 0;
    margin-left:-30px;
}
#coach h2{
    width:50%;
   margin:0;
   float:left;
   margin-top: 1%;
}
#coach p{
    float:left;
    width:60%;
    margin-left:-30px;
    font-size: 17px;
}
#coach h1{
    width: 100%;
    text-align: center;
    margin:0;
    padding:0;
}
#coach table tr{
    width:25%;
    font-size:20px;
}
#coach table tr:nth-child(even){
    background-color: var(--Color4);
}
#coach table tr td{
    width:33%;
    padding:7px 8px;
    margin:0;
    text-align: center;
}
#coach table tr th{
    width:25%;
    padding:7px 8px;
    margin:0;
    color:var(--Color3);
    background-color: var(--Color5);
}

#Opcoming-games{
    width:47.5%;
    text-align: left;
    float:left;
    margin:0 1.25%;
    padding:0;
}#Opcoming-games img{
    width:15%;
    float:left;
    margin:2.5% 2.5%;
    padding:0;
}
#Achievements{
    width:100%;
    clear:both;
    text-align:center;
    margin:0;
    padding:0;
}
#Achievements h2{
    width:50%;
    margin:1.25% 0;
    padding:0;
    float:left;
}
.IdkWhy{
    width:100%;
    margin:0;
    padding:0;
    float:left;
    font-size:1.5em;
}
#Achievements table{
    width:100%;
    padding:0;
    float:left;
    margin-bottom: 5%;
}   
#Achievements th, #Achievements td{
    width:50px;
    padding: 7px 8px;
    border:1px solid var(--Color5);
    border-radius: 5px;
    background-color: var(--Color4);
}
#Achievements th{
    color:#fff;
    background-color:var(--Color5);
}
#TrophyHall{
    width: 50%;
    margin:0;
    padding:0;
    float:left;
    text-align: center;
    margin-bottom: 50px;
}
#TrophyHall div{
    width:calc(100% / 3);
    margin:0;
    padding:0;
    float:left;
    height:17vw;
}
#TrophyHall div img{
    width:calc(70% + 1em);
    margin:0;
    padding:0;
    clear:both;
    margin-top: 15px;
    border: 0.5em solid var(--Color4);
}
.RoundThis img{
    border-radius: 9999px;
}
.DontRoundThis img{
    border-radius: 15px;
}
#TrophyHall div, #TrophyHall h2, #TrophyHall div h4{
    margin:0;
    padding:0;
}
#TrophyHall h4{
    font-size: 0.9em;
}

#Footer{
    width:150%;
    margin-left:-25%;
    height:25vh;
    background-color: #841C26;
    clear:both;
    float:left;
    margin-bottom: 25%;
    color:var(--TextColor2);
}

.Half{
    margin-top: 2.5%;
    width:47%;
    margin:0 1.5%;
    padding:0;
    float:left;
}
.Half a{
    float:right;
    color:var(--Color4);
    margin-top: 2em;
}
.Half ul{
    height:1.5em;
    display:inline;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    clear:both;
}
.Half ul li{
    display: inline;
    float: left;
    margin-right: 1.5%;
    width:18.5%;
}
.Half div{
    width:50%;
    margin:0;
    padding:0;
    float:left;
}
.Half div h3, .Half div h4{
    width:100%;
    margin:0;
    padding:0;
    float:left;
    clear:both;
}
.Half div h5{
    width:50%;
    margin:0;
    padding:0;
    float:left;
    clear:both;
    margin-bottom: 0.5em;
}

/*image gallery */
.caption{
    clear:both;
}
.noTitleMarginBottom h2{
    margin-bottom: 0px;

}
#Players{
    width:100%;
    margin-top:0px;
    background-color: var(--Color4);
    padding-bottom:30%;
}
#Players #sas{
    width:33%;
    margin:0;
    text-align: center;
    float: left;
    border-top: 2px solid #000;
}
#Players #sas a{
    text-decoration: none;
    color: #000;
    font-size: 1.15em;
}
#Players #sas img:hover{
  padding: 0.5em;
  border:0; 
}
#Players #sas img{
    width:80%;
    clear:both;
    border-radius: 5px;
    background-color: var(--Color5);
}
#Players div h3{
    margin-top:0px;
}
#PlayerDivider{
    width:96%;
    clear:both;
    padding:0;
    margin:0;
    margin-left:15px;
    height:100%;
}

/* player bios*/
.LongBlackLine{
    width:140%;
    height:3px;
    margin-left:-20%;
    margin-top:12vw;
    margin-bottom:4vw;
    padding:0;
    clear:both;
    float:left;
}
.BiographyContainer{
    width:100%;
    clear:both;
    padding:0;
    margin: auto 0;
    height:100vh;
}
#GoToTop{
    position:fixed;
    width: 6em;
    height: 6em;
    margin:0 1.25%;
    padding:0;
    background-image: url(images/Graphics/Basketball.png);
    background-size:contain;
    right:2.5%;
    text-align: center;
    bottom: 15%;
    border:3px solid var(--Color4);
    border-radius: 999999px;
    text-decoration: none;
}
#GoToTopButton{
    color:var(--Color4);
    font-size: 1.3em;
    margin:0;
    margin-top: 0em;
}
#GoToTop:hover{
    background-color: var(--Color3);
    background-image: url(images/Graphics/Basketball-Tinted.png);
    border:3px solid var(--Color5);
}
#ImageWCaption{
    width:40%;
    color:var(--Color5);
    font-size: 36px;
    float:left;
    border:10px solid var(--Color2);
    background-color: var(--Color2);
    border-radius: 15px;
}
#ImageWCaption img{
    width:100%;
    margin-top:-50px;
    margin-bottom:-10px;
    border: 0.3em solid #fff;
    border-radius: 5%;
}
#ImageWCaption h2{
    margin-top:0px;
    margin-bottom:55px;
    font-size: 1.25em;
}
#KeyStats{
    width:60%;
    padding:0;
    margin:0;
    float:left;
}
#KSTitle{
    width: 40%;
    padding:0;
    margin:0;
    float:left;
    font-size: 30px;
    margin-left:5%;
}
.BorderLeft{
    border-left:4px solid var(--Color5);
}
.BorderRight{
    border-right:4px solid var(--Color5);
}
.BorderTop{
    border-Top:4px solid var(--Color5);
}
.BorderBottom{
    border-bottom:4px solid var(--Color5);
}
.Lines2{
    padding-top:16.5px;
}

#Tabble{
    width:50%;
    padding:0;
    margin-left:5%;
    float:left;
    font-size: 30px;
    padding-top:30px;
    list-style-type: none;
}
#Tabble tr{
    width: 100%;
    float:left;
    text-align: center;
    padding:0;
    margin:0;
}
#Tabble tr td{
    width:25%;
    float:left;
    height:fit-content;
    font-size: 25px;
}
#Tabble tr td h6{
    margin:0;
    padding:0;
}
.BiographyContainer p{
    width: 57.5%;
    float:left;
    margin:2.5% 0;
    padding:0;
    margin-left:2.5%;
    font-size: 1em;
    color:var(--Color5);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.MakeLastBioLonger{
    opacity: 0;
}