*{
    box-sizing: border-box;
    scroll-behavior: smooth; /* makes scrolling SMOOTH */
}
:root{
    --Color1: #2191FB;
    --Color2: #8CDEDC;
    --Color3: #B2ECE1;
    --Color4: #dd5575;
    --Color5: #841C26;
    --Debug1: #927493;
    --Debug2: #2bff00;
    --Debug3: #fffb00;
    --Debug4: #ea00ff;
    --TextColor1: #ffffff;
    --TextColor2: #EEAABA;
}
.ClearBoth{
    clear:both;
}
#Title{
    width:90%;
    margin:0 auto;
    padding:0;
    text-align: center;
}
/*designing the top part*/
nav{
    width:auto;
    background-image: url(images/Background\ image.png);
    background-size: 100%;
}
nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    clear:both;
}
nav ul li{
    display: inline;
    float: left;
}
.CreateWidth{
    width:80%;
    margin: 0 auto;
}


/* cosmetic nav bar */
.ImageLogo{
    float:left;
    margin: 0 0;
    width: 15%;
}
.RightOfImage{
    float:left;
    width: 80%;
    text-align: center;
    font-size:40px;
    height:75px;
}
.RightOfImage p{
    margin: 0;
    padding: 0;
}
/* functional nav bar */
nav ul{
    margin-top: 15%;
}
nav ul li a{
    padding:14px 16px;
    display:block; /* forces the text to go in a block */
    color: white;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover{
    color:var(--Color4);
}
.active{
    background-color: var(--Color1);
}

#Index{
    background-color: var(--Color3);
}
#container{
    width: 75%;
    margin: 0 auto;
}
/* index\html */
#introduction{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    margin:0;
    padding:0;
    clear:both;
    margin-bottom:1%;
}
#introduction img{
    float:left;
    margin:15px 15px;
}
#introduction p{
    padding-top:0;
    width: 70%;
    float:left;
    margin:25px 0;
}
.button{
    background-color: var(--Color1);
    color:var(--TextColor1);
    padding:14px 16px;
    margin:0;
    text-decoration: none;
    float:left;
    margin:0 15px;
}
.button:hover{
    background-color: var(--Color2 );
}
#coach{
    width:100%;
    margin:0;
    background-color: var(--Color2);
    border: 2px solid #fff;
    float:left;
}
.AddCaption{
    width:40%;
    float:left;
    margin:0;
    padding:0;
    margin-top: -20px;
}
.AddCaption img{
    margin: 0;
    margin-top:30px;
    padding:15px 15px;
    width: 80%;
    text-align: center;
}
.AddCaption h3{
    margin-top:-5px;
    float:left;
    text-align: center;
    font-size:25px;
    width:80%;
}
#coach table{
    float:left;
    width:60%;
    margin: 15px 0;
    margin-bottom: 15px;
    margin-left:-30px;
}
#coach p{
    float:left;
    width:60%;
    margin-left:-30px;
    font-size: 17px;
    color:var(--Color5);
}
#coach h1{
    width: 100%;
    text-align: center;
    margin:0;
    padding:0;
}
#coach table tr{
    width:25%;
    font-size:20px;
}
#coach table tr:nth-child(even){
    background-color: var(--Color4);
}
#coach table tr td{
    width:33%;
    padding:7px 8px;
    margin:0;
    text-align: center;
}
#coach table tr th{
    width:25%;
    padding:7px 8px;
    margin:0;
    color:var(--Color2);
    background-color: var(--Color5);
}

#Opcoming-games{
    width:45%;
    text-align: left;
    float:left;
    margin:0 2.5%;
    padding:0;
}#Opcoming-games img{
    width:15%;
    float:left;
    margin:2.5% 2.5%;
    padding:0;
}
#Achievements{
    width:100%;
    clear:both;
    text-align:center;
    margin:0;
    padding:0;
}
#Achievements h2{
    width:50%;
    margin:0;
    padding:0;
    float:left;
}
.IdkWhy{
    width:100%;
    margin:0;
    padding:0;
    float:left;
    font-size:1.5em;
}
#Twitter{
    border: 5px solid #000;
    border-radius: 15px;
}
#Achievements table{
    width:100%;
    float:center;
    padding:0;
    float:left;
}   
#Achievements th, #Achievements td{
    width:50px;
    padding: 7px 8px;
    border:1px solid var(--Color5);
    border-radius: 5px;
    background-color: var(--Color4);
}
#Achievements th{
    color:rgb(192, 192, 192);
    background-color:var(--Color5);
}
#TrophyHall{
    width:45%;
    margin:0 2.5%;
    padding:0;
    float:left;
    text-align: center;
}
#TrophyHall div{
    width:33%;
    margin:0;
    padding:0;
    float:left;
    border:3px solid #7a7a7a;
}
#TrophyHall div img{
    width:70%;
    margin:0;
    padding:0;
    clear:both
}
#TrophyHall div, #TrophyHall h2, #TrophyHall div h4{
    margin:0;
    padding:0;
    padding-top: 15px;
} 

/*image gallery */
.caption{
    clear:both;
}
.noTitleMarginBottom h2{
    margin-bottom: 0px;

}
#Players{
    width:100%;
    margin-top:100px;
    background-color: var(--Color4);
    padding-bottom:30%;
}
#Players #sas{
    width:28%;
    margin:0;
    text-align: center;
    float: left;
    border-top: 2px solid #000;
}
#Players #sas a{
    text-decoration: none;
    color:#000; 
}#Players #sas a:hover{
    color:var(--Color5);
}
#Players #sas img:hover{
   border:10px solid var(--Color5);
}
#Players div img{
    width:80%;
    clear:both;
    border: 2px solid var(--Color5);
    border-radius: 5px;
}
#Players div h3{
    margin-top:0px;
}
#PlayerDivider{
    width:96%;
    clear:both;
    padding:0;
    margin:0;
    margin-left:15px;
}

/* player bios*/
.LongBlackLine{
    width:150%;
    height:3px;
    margin-left:-25%;
    margin-top:0px;
    margin-bottom:30px;
    padding:0;
    background-color: #000;
    clear:both;
    float:left;
}
.BiographyContainer{
    width:100%;
    clear:both;
    padding:0;
    margin:0 auto;
}
#GoToTop{
    width:10%;
    margin:0;
    padding:0;
    background-color: var(--Color1);
    float:left;
    text-decoration: none;
}
#GoToTop:hover{
    background-color: var(--Color3);
}
#GoToTopButton{
    text-align: center;
    margin:7.5px 7.5px;
    color:var(--TextColor1);
}
#ImageWCaption{
    width:40%;
    color:var(--Color5);
    font-size: 36px;
    float:left;
    border:10px solid var(--Color2);
    border-radius: 15px;
}
#ImageWCaption img{
    width:100%;
    margin-top:-50px;
    margin-bottom:-10px;
}
#ImageWCaption h2{
    margin-top:0px;
    margin-bottom:55px;
}
#KeyStats{
    width:60%;
    padding:0;
    margin:0;
    float:left;
}
#KSTitle{
    width: 40%;
    padding:0;
    margin:0;
    float:left;
    font-size: 30px;
    margin-left:5%;
}
.BorderLeft{
    border-left:2px solid var(--Color1);
}
.BorderRight{
    border-right:2px solid var(--Color1);
}
.BorderTop{
    border-Top:2px solid var(--Color1);
}
.BorderBottom{
    border-bottom:2px solid var(--Color1);
}
.Lines2{
    padding-top:16.5px;
}
.NoMarginTop{
    margin-top: 0;
}
#Tabble{
    width:50%;
    padding:0;
    margin-left:5%;
    float:left;
    font-size: 30px;
    padding-top:30px;
    list-style-type: none;
}
#Tabble tr{
    width: 100%;
    float:left;
    text-align: center;
    padding:0;
    margin:0;
}
#Tabble tr td{
    width:25%;
    float:left;
    height:fit-content;
    font-size: 25px;
}
#Tabble tr td h6{
    margin:0;
    padding:0;
}
.BiographyContainer p{
    width: 57.5%;
    height:100vw;
    float:left;
    margin:0;
    padding:0;
    margin-left:2.5%;
    margin-top:2.5%;
    font-size: 90%;
    color:var(--Color1);
    font-family:Georgia, 'Times New Roman', Times, serif;
}